<div>
    <div class="header">
        <div>
        <img class="logo" src="../../img/Logo-Marvel.png" alt="Logo">
    </div>
    <nav>
        <a href ="/">Personnages</a>
        <a href ="/Movies">Films</a>
        <a href ="/Movies">Series</a>
        <a href ="/Movie-search">Recherche</a>
        <a href ="/about">Contact</a>
        <a href ="/login">Login</a>
    </nav>
    </div>
</div>
<hr>